<html>
<head>
  <title>Result | Online Calculator</title>
</head>
<body>
<h1>Result</h1>

<form action="/success" method="POST">
<%= @result %>
  <button type="submit" name = "save" value = <%= @result %>> save </button>
</form>

</body>
</html>