.header {
	color: #aaa;
}

.container {
	margin: 50px;
	width: 500px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	padding: 50px;
	background-color: rgb(100,100,100);
	}

.panel {
	background-color: rgb(230,230,230);
}

.post-title {
	border-bottom: 1px solid rgb(150,150,150);
}

.glyphicon-knight {
	color: blue;
}

.glyphicon-eur {
	color: #f3ab4c;
}

.panel-component {
	margin: 5px;
}

.bounty-icon,
.user-avatar {
	width: 25px;
	height: 25px;
}


/*
<tag class="panel-info-list">
	<li></li>
</tag>
*/
.panel-info-list > li {
	padding-left: 3px;
	padding-right: 3px;
}

.btn.btn-xs.urgent {
	color: #f64f5a;
	background-color: white;
}

.btn.btn-xs.urgent:focus {
	outline: 5px auto #f64f5a;
}

.btn.btn-s {
	color: #2889d8;
	border-color: #2889d8;
}

.like {
	margin: 5px;
}
