<!DOCTYPE html>
<html>
<head>
	<title>This cool new blog</title>
</head>
<body>
	<h1>This is my cool blog</h1>
		<h2>And a catchy subtitle</h2>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
			<aside class="pquote">
				<blockquote>
					<p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. </p>
				</blockquote>
			</aside>
			<p>Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
			<p>By: <a href="www.RomanSenate.gov">Cicero</a> <br> <img src="image1.jpg" height="200px" width="180px"> </p>

			<form action="/comment" method="POST">
				User name <input type="text" name="user_name" placeholder="username"><br><br>
				Email <input type="email" name="user_email" placeholder="johndoe@example.com"><br><br>
				Comment Field <input type="text" name="user_comment" placeholder="Comment..." ><br><br>,
				<button>Submit your completely necessary comment</button>
			</form>

</body>
</html>