<!DOCTYPE html>
<html>
<head>
	<title>Pseudo Trello Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<!-- <body style="background: url(&quot;https://trello-backgrounds.s3.amazonaws.com/53baf533e697a982248cd73f/4200x4200/48dbf0b5a546541e847e267a5dcd2201/shutterstock_134707556.jpg&quot;); "> -->
	<div class="container-fluid">
 		 <div class="row" id="header">
   	 	 <div class="col-sm-3">
   	 	 	left controls
    	</div><!-- left controls -->

   	 <div class="col-sm-6">
   	 <a href="/"><img src="header-logo-2x.png" height="40" width="80"></a>
    </div><!-- trello logo -->

    <div class="col-sm-3">
    right controls
    	</div><!-- right controls -->
  </div><!-- top bar -->

  <div class="row">
    	<div class="col-sm-9">
    	board lists
    </div><!-- board lists -->

    	<div class="col-sm-3">
    	Menu
    	</div><!-- menu -->
  </div><!-- board content -->
</div>
<style> 
	body {	background-image: url("shutterstock_134707556.jpg"); background-size: cover;
	}

	header {
    background: #026aa7;
    height: 30px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    z-index: 10;
}
</style>
</body>
</html>